html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
}

button,
.button {
  padding: 10px 20px;
  margin: 5px;
  border: 0px;
  background-color: #444;
  color: #bbb;
  cursor: pointer;
  border-radius: 4px;
  min-width: 100px;
  transition: background-color 0.1s, color 0.1s, font-weight 0.1s;
}

button:hover {
  background-color: #666;
}

button.selected {
  background-color: #555;
  color: #32cd32;
  font-weight: bold;
}

.hidden {
  display: none;
}
