.header {
  height: 100px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  margin-top: 100px; /* Offset for the fixed header */
  height: calc(100vh - 100px); /* Remaining height after the header */
  background-color: #555;
}

.image_container {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  position: relative;
}
.image_container img {
  max-height: 100%;
  width: 100vw;
}

.image_container canvas {
  position: absolute;
}

.button {
  padding: 10px 20px;
  margin: 5px;
  border: 0px;
  background-color: #444;
  color: #bbb;
  cursor: pointer;
  border-radius: 4px;
  min-width: 100px;
  transition: background-color 0.1s, color 0.1s, font-weight 0.1s;
}

.button:hover {
  background-color: #666;
}
